* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(36, 36, 36);
	height: 100vh;
}

.App {
	width:550px;
	flex-direction: column;
	background-color:white;
	border-radius:12px;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

/* Header */
.header {
	background-color: #F55A5A;
	color: white;
	display: flex;
	justify-content: center;
	height: 39px;
	width: 550px;
	padding-top: 16px;
	margin-bottom: 24px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.header img {
	margin-right: 8px;
	width: 24px;
	height: 24px;
}

.header h3 {
	font-weight: 400;
}

/* Journal Entry */
.wrapper__entry {
	margin-top:16px;
	margin-bottom: 24px;
}

.entry--img {
	margin-right: 20px;
	width: 125px;
	height: 168px;
}

.travelEntry {
	color: #2B283A;
	padding-left: 32px;
	padding-right: 32px;
}

.wrapper__location {
	margin-bottom: 8px;
}

.location-marker {
	margin-top: 1px;
	margin-right: 6px;
	width: 10px;
	height: 14px;
}

.location {
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin-right: 12px;
}

.link__googleMaps {
	font-size: 0.9rem;
	color: #918E9B;
	text-decoration-style: none;
}

.title {
	font-size: 1.55rem;
	font-weight: 700;
	margin-bottom: 16px;
}

.startEndDate {
	font-size: 0.9rem;
	margin-bottom: 8px; 
}

.description {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.1rem;
	max-width: 330px;
}

/* Divider */
.divider {
	border-bottom: 1px solid #ececec;
	margin-bottom: 20px;
}