* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;

}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

/* Header */
.header {
	background-color: #F55A5A;
	color: white;
	display: flex;
	justify-content: center;
	height: 39px;
	width: 550px;
	padding-top: 16px;
}

.header img {
	margin-right: 8px;
	width: 24px;
	height: 24px;
}

.header h3 {
	font-weight: 400;
}